body {
  font-family: Arial;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

input {
  margin: 5px;
  padding: 6px;
}

button {
  padding: 6px 10px;
  margin: 5px;
  cursor: pointer;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}
