 /* Estilos básicos */
    body {
      font-family: 'Courier Prime', monospace;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    /* Estilos para o campo de busca */
    #search-container {
      margin: 20px 0;
      display: flex;
      gap: 10px;
      max-width: 500px;
      position: relative;
    }
    
    #song-search {
      padding: 10px;
      width: 100%;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex-grow: 1;
    }
    
    #search-button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    
    #search-button:hover {
      background-color: #45a049;
    }
    
    #search-results {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      background: rgb(219, 216, 216);
      border: 1px solid #861f1f;
      border-top: none;
      z-index: 100;
      display: none;
    }
    
    .search-result-item {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #861f1f;
    }
    
    .search-result-item:hover {
      background-color: #f5f5f5;
    }
    
    .highlight {
      background-color: yellow;
      font-weight: bold;
    }
    
    /* Estilos para a exibição da música */
    #music-container {
      white-space: pre-wrap;
      font-family: 'Courier Prime', monospace;
      background-color: #f9f9f9;
      padding: 15px;
      border-radius: 4px;
      margin-top: 20px;
    }
    
    .chord {
      color: #e00934;
      font-weight: bold;
    }
    
    /* Controles de transposição */
    #controls {
      margin: 20px 0;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    #transpose-down, #transpose-up {
      padding: 5px 15px;
      font-size: 16px;
      cursor: pointer;
    }