 /* Estilos para o índice */
        #music-index {
            background: #f8f8f8;
            padding: 1px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
       
        
        #song-list li {
            break-inside: avoid;
        }
        
        #song-list p.song-item {
            margin: 0;
            
        }
        
        #song-list a {
            color: #0066cc;
            text-decoration: none;
            font-size: 0.95em;
            display: inline-block; 
            border-radius: 3px;
            transition: all 0.2s ease;
        }
        
        #song-list a:hover {
            text-decoration: none;
            background-color: #e6f2ff;
        }
        
        .song-section {
            margin-bottom: 30px;
            padding-top: 50px;
            margin-top: -30px;
        }

        .separator-item {
            font-weight: bold;
            margin: 15px 0 5px 0;
            color: #555;
            grid-column: 1 / -1;
            break-inside: avoid;
            list-style: none;
        }