h1 {
  text-align: left;
  margin-left: 10px; /* Opcional */
}
   
p1 {
    font-size: 20px;

  }
  pre {
    font-size: 24px;
    line-height: 1; /* ou, por exemplo, 28px */
}

p2 {
    font-size: 18px;
    color: rgb(251, 7, 43);
    font-style: italic;
    text-decoration: underline;
}
