body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    background-color: #e0f7fa; /* Azul claro */
    margin: 0;
    padding: 20px;
}
h1 {
    color: #3f51b5; /* Azul escuro */
}
div {
    margin: 10px;
}
label {
    font-size: 1.2em;
    margin-right: 5px;
}
input[type="number"] {
    padding: 8px;
    font-size: 1em;
    border: 2px solid #3f51b5;
    border-radius: 5px;
    width: 50px;
}
button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
button:disabled {
    background-color: #9e9e9e; /* Cinza */
    cursor: not-allowed;
}

#card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9b7b7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0; /* Removendo o padding */
}

#card img {
    border: 5px solid #818de0;
    border-radius: 5px;
    padding: 0;
    display: block; /* Remove espaço extra abaixo da imagem */
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #f44336; /* Vermelho */
}