
        body {
          font-family: 'Arial', sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          background-color: #a9d18e;
          margin: 0;
          padding: 20px;
          color: #fff;
          text-align: center;
        }
    
        /* Blackboard effect */
        body::before {
          content: '';
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: url('https://www.transparenttextures.com/patterns/chalkboard.png'), #a9d18e;
          opacity: 0.9;
        }
    
        .blackboard-frame {
          border: 25px solid #4A3728;
          border-radius: 20px;
          padding: 20px;
          margin-bottom: 20px;
          background-color: #dbd3d3;
          /* Darker background for contrast */
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          width: 90%;
          /* Adjust as needed */
          max-width: 900px;
          /* Maximum width */
          height: 250px;
        }
        label, #tempoValue, p { 
            color: black;
            font-size: 20px;
            font-family:Comic Sans MS; 
        }
        .number-container {
          display: flex;
          gap: 60px;
          margin-bottom: 30px;
          justify-content: center;
        }
    
        .number {
          font-size: 5em;
          position: relative;
          color: #081ff5;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    
        .image {
          position: absolute;
          bottom: -70px;
          left: 50%;
          transform: translateX(-50%);
          width: 70px;
          height: 68px;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
    
        .image.active {
          opacity: 1;
        }
    
        button {
          padding: 12px 24px;
          font-size: 1.3em;
          cursor: pointer;
          margin-top: 20px;
          background-color: #d81e7b;
          border: none;
          border-radius: 8px;
          color: white;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
          transition: background-color 0.3s ease;
        }
    
        button:hover {
          background-color: #c71585;
        }
    
        button:disabled {
          background-color: #af7318;
          cursor: not-allowed;
        }
    
        h1 {
          color: #f0e68c;
          text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
          font-size: 3em;
        }
    
        #exerciseSelector {
          margin-top: 20px;
          padding: 10px;
          font-size: 1.1em;
          border-radius: 5px;
          border: 1px solid #942d2d;
          background-color: #e4d3d3;
          color: #333;
        }
    
    
    #controlsContainer {
        display: flex;
        align-items: center; /* Alinha verticalmente os elementos */
        justify-content: center; /* Centraliza horizontalmente os elementos */
        flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha em telas menores */
        margin-top: 20px; /* Adiciona margem superior */
    }
    
    #controlsContainer > * {
        margin: 10px; /* Adiciona margem entre os elementos */
    }
    
    #tempoControl {
        display: flex;
        align-items: center;
    }
    
    #tempoControl label {
        margin-right: 5px;
    }
    
    #tempo {
        width: 50px;
    }
        label {
          display: block;
          margin-top: 10px;
        }
        p1 {
        color: #000000;
        text-align: left;
        width: 100%;
        margin-left: 0; /* Garante que fique colado à esquerda */
    }
    

