body {
  counter-reset: tabelas; /* Zera o contador no início da página */
}

.tabela {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 30px;
  counter-increment: tabelas; /* Incrementa o contador em cada .tabela */
  font-size: 20px; /* Aumenta o tamanho do texto nas tabelas */
  
}

.tabel {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 20px; /* Aumenta o tamanho do texto nas tabelas */
  
  
}

.tabela::before {
  content: "Tabela " counter(tabelas); /* Insere o número automático */
  display: block;
  font-weight: bold;
  font-size: 22px; /* Aumenta o tamanho do título */
}

table {
  border-collapse: collapse;
  width: 100%; /* Faz a tabela ocupar toda a largura disponível */
}

th, td {
  border: 1px solid black;
  padding: 10px; /* Aumenta o espaçamento interno */
  text-align: center;
  font-size: 18px; /* Aumenta o tamanho da fonte nas células */
}

th {
  background-color: lightblue;
}

td div {
  width: 35px; /* Aumenta o tamanho da div interna */
  height: 35px;
  margin: 0 auto;
}
