/*==============================
Atualização: 15-05-25
===============================*/

h1 {
  text-align: left;
  margin-left: 10px; /* Opcional */
}
   
p1 {
    font-size: 20px;

  }
  pre {
    font-size: 24px;
    line-height: 1; /* ou, por exemplo, 28px */
}

p2 {
    font-size: 18px;
    color: rgb(251, 7, 43);
    font-style: italic;
    text-decoration: underline;
}
/* Adicione isso no final do arquivo texto.css */
p3 {
    font-size: 16px;
    color: blue;
    font-style: italic;
    text-decoration: underline;
    display: inline-block;
}
/*Voltar ao índice*/
.voltar-link {
    color: #0530f0; /* cor azul */
    text-decoration: none;
  }

  .voltar-link:hover {
    color: #bda2dd; /* cor mais escura ao passar o mouse */
    text-decoration: underline;
  }